  
  h1 img{
    background-repeat: no-repeat;
    float: left;
    position: inherit;
    display: grid;
    margin-top: 15px;
    padding-right: 0px;
    padding-left: 10px;
    filter: drop-shadow(0 0 0.75rem rgb(248, 248, 247));
    text-shadow: 2px 2px 4px #fbfbfb;
  }
 h1{
   line-height: 500%;
   background-color: black;
   font-family: 'Arial Narrow Bold', sans-serif;
   font-weight: 100px;
   color: white;
   overflow: fixed;
   margin-top: 15px;
 }

nav{
   float: right;
   list-style: none;
   font-size: 16px;
   margin-right: 10px;
 }
h3{
   font-family: "Roboto", sans-serif;
   font-weight: 100px;
   font-size: 16px;
   color: white;
   margin-top: 0px;
   padding-top: 0px;
   margin-left: 200px;
 }
 h4{
   font-family: "Roboto", sans-serif;
   text-align: center;
   margin-left: 0px;
   margin-top: 0px;
 }
 .covid{
   text-align: center;
   border-radius: 50%;
 }
 .about{
   text-align: center;
   margin-bottom: 0px;
 }
 a{
   color: white;
   text-decoration: none;
   padding: 0px;
   margin-top: 0px;
   font-family: "Roboto", sans-serif;
   

 }
 nav a{
   padding: 6px;
   
   
 }
 nav a:hover{
   border: 1px solid white;
   color: red;
   }
   nav a:active{
     border: 1px solid white;
   }
   #btn{
     font-family: "Roboto", sans-serif;
     border-radius: 15px;
     padding: 5px 7px 5px 7px;
     color: orangered;
     background-color: white;
   }
   #btn:hover{
     background-color: black;
     color: white;
   }
   #notice{
       border-radius: 4px;
       padding: 5px 7px 5px 7px;
       background-color: rgb(123, 194, 251);
       color: rgb(0, 0, 0);
   }
   #notice:hover{
       color:white;
       background-color: black;
   }
   .table{
    
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .table thead tr{
    background-color: rgb(155, 155, 113);
    color: white;
    font-weight: bold;
  }
  .table th,
  .table td{
    padding: 12px 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .table tbody td{
      text-align: center;
  }
  .table tbody tr{
    border-bottom: 1px solid #dddddd;
  }
  .table tbody tr:nth-of-type(even){
    background-color: #d3d3d3;
  }
  .table tbody tr:last-of-type(even){
    border-bottom: 2px solid rgb(155, 155, 113);
  }
  #heading{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
 }
  #footer{
    background-color: black;
    background-size: cover;
   }
   #privacy{
   color:rgb(163, 163, 163);
   }
   .cover{
    display: flex;
    align-content: center;
    justify-content: center;
    }
    .cover div{
    align-items: center;
    padding: 70px;
    
    }
   p{
   font-family:monospace; 
   text-align: center;
   color: rgb(59, 52, 52);  
   }
   hr{
    color: rgb(59, 52, 52);
    width: 50%; 
    }