
<h1>Welcome to Admin Portal</h1>
<nav>
    <a routerLink="/view-user" routerLinkActive="active">View User</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="/view-bookings" routerLinkActive="active">View Bookings</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="/schedule" routerLinkActive="active">Schedule</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="/view-schedule" routerLinkActive="active">View Schedule</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <button id="btn" type="button" (click)="onClick()">Logout</button>&nbsp;&nbsp;
   
</nav>

<br><br>
<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" style="text-align: center;">
    <table class="table">
      <thead>
        <th>Notification Date</th>&nbsp;
        <th>Notification Message</th>&nbsp;
        
        
      </thead>
      
       <tbody>
        <tr *ngFor="let notifications of notification; let j = index">           
          <td><span>{{notifications.Notification_Date.substr(0,10)}}</span></td>&nbsp; 
          <td><span>{{notifications.Notification}}</span></td>&nbsp;
          <td><a type="submit" class="btn btn-sm text-white btn-danger"  name="Notification" (click)="delete(notifications.Notification_ID)" >Delete</a> </td>
        </tr>
        <tr>

        </tr>
      </tbody>
    </table>
        <textarea  type= "text" name="Notification"   ngModel="Notification"> 
           
        </textarea><br>
      
        <button type="submit">Send Notification</button> 
    </form>
