
<section>
  <header>  
    <h1><img src="assets/images/LBSdesign1.png" alt="" width="130" height="90">&nbsp;&nbsp;&nbsp;
    Lab Booking System
      <nav> 
        <a routerLink="/register" routerLinkActive="active">Register / Create Account</a>&nbsp;&nbsp;  
    </nav>
  </h1>
  </header>

      <br><br><br> <br><br><br> <br><br><br>
      <main>
        <div id="book">BOOK YOUR SLOT</div>
        <div id="book"><a href="" id="book2">EXPAND INTO SOMETHING AMAZING</a></div>
      

        <br><br><br><br>
        <div style="text-align: center;">
          <button id="login_btn" type="button" (click)="updates()">Notice</button>
            &nbsp;&nbsp;<button id="login_btn" type="button" (click)="onClick()">Login</button>
        </div>

      </main>

    <br><br><br><br>
  </section>
 

  <br>
<div class="container">

   
   <h2 style="text-align: center;"> ABOUT THE LAB BOOKING SYSTEM</h2>
   <br>
   <h3 style="text-align: center;">The Lab Booking system is an online booking facility that facilitates students and lecturers to book for computer labs,
     it check conflicts and allows simultaneous bookings, cancellation of bookings, and viewing of booking details.
    The system allows the lab administrators to publish labs, view published schedule, and cancel published labs. 
  </h3>
    <a href="https://www.tut.ac.za/news-and-press/news"><p id="learnMore">Learn More</p></a>
   

  <br>
  <h2 style="text-align: center;"> OUR LABS</h2>

    <div class="slider" id="img-slider" style="text-align: center;">
      <ng-image-slider [images]="imageObject" [infinite]="true" [autoSlide]="1" [showArrow]="false" [imagePopup]="false"
         [imageSize]="{height: 200, width:250}" #nav></ng-image-slider>
     </div>
     <br><br><br>

</div>
<div id="footer">
  <footer >
    <br>
    <div class="covid">
      <a href="https://sacoronavirus.co.za/"><img style = " border-radius: 15px;"alt="SACoronavirus Resource and News Portal" width="30%" height="80"
        src="/assets/images/SACoronavirus.png"></a>
    </div>
    <br>
    <div class="cover">
      <div class="about">
        <h2 id="heading">Get In Touch</h2>
        <a class="contact" href="">contact Us</a><br><br>
        <a class="about" href="">About</a>
      </div> 
      <div class="follow">
        <h2 id="heading">Follow Us</h2>
          <a class="facebook" href="https://www.facebook.com/TUTCommunications">Facebook</a><br><br>
          <a class="twitter" href="https://twitter.com/official_tut">Twitter</a><br><br>
          <a class="youtube" href="https://www.youtube.com/channel/UCD4jxDpRYTarILQjtsEQv9Q?view_as=subscriber">Youtube</a>
      </div>
    </div>
        <hr>
        <p>&copy; 2021 TUT - ALL RIGHTS RESERVED<span><a href="https://www.tut.ac.za/other/disclaimers/terms-and-conditions"><p id="privacy">Privacy Policy</p></a></span></p>
  </footer>
  <br>
</div> 