<style>
  
 
 </style>



<header>  
  <h1><img src="assets/images/LBSdesign1.png" alt="" width="130" height="90">&nbsp;&nbsp;&nbsp;
   Lab Booking system
     <nav>
       <a routerLink="/login" routerLinkActive="active">Login here</a>&nbsp;&nbsp;
   </nav>
 </h1>
</header>
<h2 style="text-align:center">Reset Your Password</h2>
      <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" style="text-align: center;">
        <label for="stuNumber">Student Number</label><br>
        <input type="text" name="stuNumber" ngModel placeholder="Student Number" required><br>
         <br><br><button id="submit_btn" type="submit">Submit</button>
         <br><br>
         <a routerLink="/login" routerLinkActive="active">login here</a>&nbsp;&nbsp;
       </form>

       <br>

       <div id="footer">
        <footer>
          <br>
          <div class="about">
            <a class="contact" href="">contact Us</a><br><br>
            <a class="about" href="">About</a>
          </div> 
              <h4>Follow Us<br><br>
                <a class="facebook" href="https://www.facebook.com/TUTCommunications">Facebook</a><br><br>
                <a class="twitter" href="https://twitter.com/official_tut">Twitter</a><br><br>
                <a class="youtube" href="https://www.youtube.com/channel/UCD4jxDpRYTarILQjtsEQv9Q?view_as=subscriber">Youtube</a><br><br>
            </h4>
            <div class="covid">
              <a href="https://sacoronavirus.co.za/"><img alt="SACoronavirus Resource and News Portal" width="400" height="80"
                src="/assets/images/SACoronavirus.png"></a>
            </div>
        </footer>
      </div>
      